.skew-drop {
  color: var(--skew-color-middle);
  text-shadow:
    -22px -22px 0 var(--skew-color-top),
     22px  22px 0 var(--skew-color-bottom);
  transition: text-shadow .5s;
  transform: var(--skew-forward);

  &:hover {
    text-shadow:
      0 -20px 0 var(--skew-color-top),
      0  20px 0 var(--skew-color-bottom);
  }
}
