@import 'material-symbols';

.pagination {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  .disabled {
    opacity: 0.2;
    // cursor: forbidden;
    pointer-events: none;
  }

  a {
    // TODO(mark 2026-03-15): refine
    text-shadow: 2px 2px 0 var(--cool-drop-red), 4px 4px 0 var(--cool-drop-blue);
  }
}
