@import 'material-symbols';

:root {
  --pagination-icon-size: 3rem;
}

.pagination {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  span {
    font-size: var(--pagination-icon-size);
  }

  .disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  .pagination-item {
    /* TODO(mark 2026-03-15): refine */
    text-shadow:
      -2px -4px 0 var(--skew-color-top), /* top */
       2px  4px 0 var(--skew-color-bottom); /* bottom */
  }
}
