@import 'tailwindcss';

:root {
  --post-float-margin: calc(var(--spacing) * 4);
  --post-float-max-width: 33%;
}

.post {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;
  align-items: center;

  header {
    max-width: var(--container-2xl);
  }

  footer {
    max-width: var(--container-4xl);
  }

  main {
    clear: both;
    max-width: var(--container-2xl);
    overflow: auto;

    & > * {
      margin-bottom: calc(var(--spacing) * 4);
    }

    a {
      color: var(--skew-color-bottom);
      text-decoration: underline;
    }

    figure {
      display: grid;
      gap: calc(var(--spacing) * 3);
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      grid-template-rows: auto;

      /* make single non-floated image take up hero size */
      a:not(.float-left):not(.float-right):only-child {
        grid-column: 1 / 4;
      }
    }

    blockquote {
      border-left: 1px solid green;
      padding-left: 1ch;
    }

    ul {
      list-style: initial;
      margin-left: 1ch;
    }

    .float-left {
      float: left;
      max-width: var(--post-float-max-width);
      margin-right: var(--post-float-margin);
    }

    .float-right {
      float: right;
      max-width: var(--post-float-max-width);
      margin-left: var(--post-float-margin);
    }
  }
}
